
# Core Framework
streamlit

# Data Processing
pandas
numpy

# Visualization
plotly
matplotlib
seaborn
folium


# Statistical Analysis
scipy
statsmodels
scikit-learn

# Data Handling
openpyxl
xlrd

# Utilities
python-dateutil
pillow